
    <div class="jumbotron" style="background: url(./images/774362.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"> 
      <h1 class="display-3">It's all EZ. Help yourself!</h1>
       <br>
      <h3 class="lead">Happiness is clicks away</h3>
      <br> 
      <div class="row align-items-center">
          <a class="btn btn-secondary btn-lg col col-5 col-lg-4" style="float:left;" href="#" role="button">Sell A Product/Service</a></p>
        <pre>  </pre>
          <a class="btn btn-primary btn-lg col col-5 col-lg-4" style="float: inline-start;"href="#" role="button">Buy Anything</a></p>
        </div>
    </div>