<div class="row">
    <div class="signupform col col-12 col-md-10 col-lg-8">
        <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
            <div class="card-header">Sign Up</div>
            <div class="card-body">
                <br>
                <% include ./partials/messages %>
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text"
                        name="username"
                        class="form-control"
                        id="username"
                        placeholder="Enter Name"
                        value="<%- typeof username != 'undefined' ? username : '' %>">
                    </div>
                    
                    <div class="form-group">
                        <label for="useremail">Email Address</label>
                        <input
                        type="email"
                        name="useremail"
                        class="form-control"
                        id="useremail"
                        aria-describedby="emailHelp"
                        placeholder="Enter Email"
                        value="<%- typeof useremail != 'undefined' ? useremail : '' %>">
                      </div>

                      <div class="form-group">
                        <label for="userpass">Password</label>
                        <input
                        name="userpass"
                        type="password"
                        class="form-control"
                        id="userpass"
                        placeholder="Create Password">
                      </div>

                      <div class="form-group">
                        <label for="confirmuserpass">Confirm Password</label>
                        <input
                        name="confirmuserpass"
                        type="password"
                        class="form-control"
                        id="confirmuserpass"
                        placeholder="Retype Password">
                      </div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                    <br>
                    <p>Already have an account? <a href="/users/login">Log In</a></p>
                </form>
                    
            </div>
        </div>
    </div>
</div>