<div class="row">
    <div class="signupform col col-12 col-md-10 col-lg-8">
        <div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
            <div class="card-header">Sign Up</div>
            <div class="card-body">
                <br>
                <form action="/newuser" method="POST">
                    <div class="form-group">
                        <label for="newusername">Name</label>
                        <input type="text" class="form-control" id="newusername" placeholder="Enter Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="newuseremail">Email Address</label>
                        <input type="email" class="form-control" id="newuseremail" aria-describedby="emailHelp" placeholder="Enter Email">
                      </div>
                      <div class="form-group">
                        <label for="newuserpass">Password</label>
                        <input type="password" class="form-control" id="newuserpass" placeholder="Create Password">
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                    
            </div>
        </div>
    </div>
</div>